* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body::-webkit-scrollbar {
    display: none;
}

.introPage {
    height: 100vh;
    background: #181716;
    width: 100%;
}

.secPage {
    height: 100vh;
    background: #000000;
    width: 100%;
}


.IntroFont {
    font-family: SCP-Bold;
    font-size: 2rem;
}

.FC1 {
    color: #ccc5b9;
}
